/*global*/
.contain {
	width: 990px;
	margin: 0 auto;
}
.ico {
	background-image: url('../images/ico.png') !important;
}
.loadico {
	background-image: url('../images/loading.png') !important;
}
.list-inline li {
	padding: 0;
	vertical-align: top;
}
.bd {
	padding-left: 66px;
}
ul {
	list-style: none;
	margin-bottom: 0;
	-webkit-padding-start: 0;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*header*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 92px;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	background: #232339; /* Old browsers */
	background: -moz-linear-gradient(top,  #232339 0%, #1d1d2f 25%, #171725 41%, #141421 55%, #13131e 56%, #12121d 97%, #404040 98%, #707070 99%, #cfcfcf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232339), color-stop(25%,#1d1d2f), color-stop(41%,#171725), color-stop(55%,#141421), color-stop(56%,#13131e), color-stop(97%,#12121d), color-stop(98%,#404040), color-stop(99%,#707070), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #232339 0%,#1d1d2f 25%,#171725 41%,#141421 55%,#13131e 56%,#12121d 97%,#404040 98%,#707070 99%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #232339 0%,#1d1d2f 25%,#171725 41%,#141421 55%,#13131e 56%,#12121d 97%,#404040 98%,#707070 99%,#cfcfcf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #232339 0%,#1d1d2f 25%,#171725 41%,#141421 55%,#13131e 56%,#12121d 97%,#404040 98%,#707070 99%,#cfcfcf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #232339 0%,#1d1d2f 25%,#171725 41%,#141421 55%,#13131e 56%,#12121d 97%,#404040 98%,#707070 99%,#cfcfcf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232339', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}
.header .logo {
	margin: 11px 0 0 50px;
	background-repeat: no-repeat;
	background-image:url(../images/header_logo.png);
	width: 326px;
	height: 63px;
}
.header ul a {
	font-size: 20px;
	color: #cfb978;
}
.header ul {
	margin: 0 60px 0 0;
}
.header li {
	position: relative;
	padding: 40px 12px 24px 12px;
	cursor: pointer;
	transition: top 0.2s;
	-webkit-transition: top 0.2s;
	-moz-transition: top 0.2s;
	-o-transition: top 0.2s;
	-ms-transition: top 0.2s;
}
.header li:hover {
	top: -3px;
}

.header li:hover a, .header li.cur a {
	text-decoration: underline;
}
/*slider*/
.slider {
	margin-top: 42px;
}
.slider ul {
	position: relative;
	height: 628px;
}
.slider li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
.slider .cur {
	opacity: 1;
}
.slider li img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
/*middlogo*/
.middlogo ul {
	height: 92px;
	background-color: #1d1d2f;
	position: relative;
	overflow: hidden;
}
.middlogo li {
	background-repeat: no-repeat;
}
.middlogo .i1 {
	margin: 49px 0 0 65px;
	width: 298px;
	height: 43px;
	background-position: 0 -240px;
}
.middlogo .logo {
	width: 326px;
	height: 63px;
	margin: 20px 0 0 0;
	background-position: 0 -100px;
}
.middlogo .i2 {
	position: absolute;
	float: none;
	width: 348px;
	height: 69px;
	background-position: 0 -170px;
	top: 0;
	right: 0;
}
/*tit*/
.tit {
	padding-left: 26px;
}
.tit ul {
	height: 25px;
	line-height: 25px;
	position: relative;
}
.tit .ico {
	background-repeat: no-repeat;
}
.tit li {
	height: 100%;
	vertical-align: top;
}
.tit .i1, .tit .i2 {
	width: 12px;
}
.tit .i1 {
	background-position: 0 -500px;
}
.tit .i2 {
	background-position: -36px -500px;
}
.tit .txt {
	font-size: 25px;
	padding: 0 7px;
	color: #7d5061;
}
/*tit1*/
.tit1 {
	margin: 18px 0 15px 0;
}
/*brand*/
.brand .pic {
	width: 393px;
	height: 260px;
}
.brand .pic img {
	width: 100%;
	height: 100%;
}
.brand .desp {
	margin: 36px 0 0 24px;
	width: 425px;
	font-size: 14px;
	color: #3a3c3b;
	line-height: 24px;
	text-indent: 30px;
}
/*.tit2*/
.tit2 {
	margin: 32px 0 21px 0;
}
/*bestlist*/
.bestlist li {
	float: left;
	margin: 0 2px 2px 0;
}
.bestlist img {
	width: 215px;
	height: 141px;
}
.bestlist .g1 img {
	width: 433px;
	height: 283px;
}
.bestlist a {
	position: relative;
	display: block;
}
.bestlist .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,0.63);
	color: #fff;
	transition: display 1s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
}
.bestlist a:hover .overlay {
	opacity: 1;
}
.bestlist .overlay .title {
	margin-top: 48px;
	line-height: 26px;
	font-size: 18px;
}
.bestlist .overlay .content {
	font-size: 12px;
	line-height: 21px;
}
.bestlist .g1 .overlay {
	height: auto;
}
.bestlist .g1 .overlay .title {
	font-size: 36px;
	line-height: 50px;
	margin-top: 0;
}
.bestlist .g1 .overlay .content {
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 9px;
}
/*dialog*/

.modal-dialog {
	width: 777px;
	padding: 0;
}

.modal-header {
	border-bottom: none;
}
.modal-title {
	display: none;
}
.modal-header {
	background: #f6f5f5;
	height: 0;
	padding: 0;
	line-height: 0;
	min-height: 0;
}
.modal-content {
	width: 777px;
	background: #f6f5f5;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.modal-header .close {
	width: 21px;
	height: 23px;
	opacity: 1;
	background-position: -328px -500px;
	background-repeat: no-repeat;
	margin: 0;
	position: absolute;
	right: 8px;
	top: 7px;
	z-index: 1;
}
.modal-body {
	padding: 0;
}
.imgdialog p {
	line-height: 48px;
	background-color: #252530;
	color: #f6e9c6;
	margin: 0;
}
.imgdialog img {
	display: block;
	margin: 30px auto 30px auto;
}
.imgdialog .prev, .imgdialog .next {
	position: absolute;
	width: 58px;
	height: 101px;
	background-repeat: no-repeat;
	top: 50%;
	margin-top: -50px;
}
.imgdialog .prev {
	left: -63px;
	background-position: -92px 0;
}
.imgdialog .next {
	right: -63px;
	background-position: -92px -101px;
}
.loading {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 1050;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
/*tit3*/
.tit3 {
	margin: 42px 0 15px 0;
}
/*store info*/
.store .intro {
	width: 425px;
	padding: 43px 11px 0 16px;
	text-indent: 32px;
	line-height: 23px;
	color: #3a3c3b;
}
.store .site {
	height: 303px;
	overflow: hidden;
}
.store .site iframe {
	margin-left: 11px;
}
/*tit4*/
.tit4 {
	margin: 43px 0 32px 0;
}
/*video*/
.video {
	padding: 0 0 50px 0;
}
.video .playarea {
	width: 552px;
	height: 291px;
}
.video .playlist {
	margin-left: 1px;
	width: 307px;
	height: 291px;
	background: #2d2d2d;
	padding: 12px 0 0 14px;
}
.video .playlist .hdtit {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.video .playlist ul {
	height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
.video .playlist .pic {
	display: block;
	position: relative;
	width: 134px;
	height: 83px;
	cursor: pointer;
	margin: 11px 3px 0 0;
}
.video .playlist img {
	width: 100%;
	height: 100%;
}
.video .playlist .pic .play {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	z-index: 1;
	background: url('../images/play.png') no-repeat 0 0;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
}
.video .playlist .pic:hover .play {
	opacity: 1;
}
.video .playlist p {
	line-height: 26px;
}
.video .playlist p a{
	color: #fff;
	font-size: 12px;
}
/*scrollbar*/
.scroll-bar-auto {
	overflow: auto;
}

.scroll-bar-hidden {
	overflow: hidden;
}

.scroll-bar-auto-y {
	overflow-x: hidden;
	overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar {
	width: 8px;
	height: 8px
}

.scroll-bar::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0)
}

.scroll-bar::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

.scroll-bar::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0);
}
/*footer*/
.footer {
	height: 186px;
	padding:31px 0 0 0;
	background-repeat:repeat-x;
	background-position: 0 -300px;
	overflow:hidden;
}
/*social*/
.social {
	margin:0 0 0 66px;
}
.social a {
	width:52px;
	margin:0 10px 0 0;
	display:block;
	color:#7b7b7b;
}
.social .ico {
	height:21px;
	margin:0 0 12px 0;
	background-repeat:no-repeat;
}
.social p {
	line-height:14px;
	font-size:12px;
}
.social .weibo .ico {
	background-position:-85px -500px;
}
.social .tweibo .ico {
	background-position:-146px -500px;
}
.social .qq .ico {
	background-position:-202px -500px;
}
.social .weixin .ico {
	background-position:-260px -500px;
}
/*contact*/
.contact {
	margin-right:65px;
	line-height:28px;
}
.contact li {
	margin:0 5px 0 28px;
}
.contact a {
	color:#717272;
}
/*footer logo*/
.footer .logo {
	margin:17px 0 0 311px;
	height:69px;
	background-repeat:no-repeat;
	background-position: 0 -100px;
}